PRIVATE_KEY
SECOND_PRIVATE_KEY
ETHEREUM_SEPOLIA_RPC_URL
ETHERSCAN_API_KEY
POLYGONSCAN_API_KEY
POLYGON_MUMBAI_RPC_URL
AVALANCHE_FUJI_RPC_URL
BASESCAN_API_KEY
ARBITRUM_RPC_URL
ARBISCAN_API_KEY
OPTIMISM_API_KEY
OPTIMISM_SEPOLIA_RPC_URL
BASE_SEPOLIA_RPC_URL
COINMARKETCAP_API_KEY
AVALANCHE_RPC_URL

AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_REGION
AWS_SECRET_ARN