# Server Configuration
PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:3001

# Authentication Configuration
API_KEY=ibUmPmZRVgTP4zgaNl1n5SSHNdfugSjU
ALLOWED_FRONTEND_ORIGIN=http://localhost:3001

# Blockchain Configuration (Sepolia testnet for testing)
CHAIN_ID=11155111
ETHEREUM_RPC_URL=https://sepolia.infura.io/v3/5ce176a66fac47848ebce0ae3a817bd6
GNOSIS_RPC_URL=https://rpc.gnosischain.com
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/5ce176a66fac47848ebce0ae3a817bd6

# CoW Protocol Configuration (Sepolia)
COW_API_URL=https://api.cow.fi/sepolia/api/v1
COW_SETTLEMENT_CONTRACT=0x9008D19f58AAbD9eD0D60971565AA8510560ab41
COW_VAULT_RELAYER=0xC92E8bdf79f0507f65a392b0ab4667716BFE0110
DEFAULT_VALIDITY_PERIOD=1800
DEFAULT_SLIPPAGE=0.5

# Safe Wallet Configuration (REPLACE WITH YOUR VALUES)
SAFE_WALLET_ADDRESS=
SAFE_THRESHOLD=1
EXECUTOR_PRIVATE_KEY=<PRIVKEY>
# Market Maker Wallet Configuration (REPLACE WITH YOUR VALUES)
MM_WALLET_ADDRESS=0x29d5ab1282ee60d9bE352D625a65B4f0939a46a1
SUPPORTED_TOKENS=0x7b79995e5f793A07Bc00c21412e50Ecae098E7f9,0x8267cF9254734C6Eb452a7bb9AAF97B392258b21,0xfFf9976782d46CC05630D1f6eBAb18b2324d6B14

API_KEY=ibUmPmZRVgTP4zgaNl1n5SSHNdfugSjU #Min 32bit
